@import "../../styles/common.scss";

#qrScanButton {
  text-align: center;

  #qrScanButtonContent {
    svg {
      fill: $primary;
      width: 100px;

      transition: transform 0.25s;
    }

    padding-left: 1em;
    padding-right: 1em;
  }

  &:hover {
    #qrScanButtonContent {
      outline: 5px dashed $secondary;
      background-color: var(--highlight);

      svg {
        transform: scale(1.2);
      }

      h2 {
        color: $primary;
      }
    }
  }
}
