@import "./colors.scss";

body {
  margin: 0;

  padding: 2em 5vw;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--light);
}

.homePage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;

  #homeHeader {
    grid-column: 1 / span 2;

    color: $gray;

    display: grid;
    grid-template-columns: auto min-content;
    align-content: center;

    @media (max-width: 500px) {
      grid-template-columns: auto;

      h1,
      p.themeToggle {
        justify-self: center;
        align-self: center;
        text-align: center;
      }
    }

    h1,
    p {
      padding: 0;
      margin: 0;
    }

    p {
      text-transform: capitalize;
      justify-self: right;
      cursor: pointer;
      font-size: 1.25em;
      align-self: center;
      line-height: 1em;
    }
  }

  #fileList {
    grid-column: 1 / span 2;
  }

  @media (max-width: 900px) {
    grid-template-columns: 1fr;

    #homeHeader,
    #fileList,
    #footer {
      grid-column: 1;
    }

    #footer {
      grid-template-columns: auto;
    }
  }
}

footer {
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: auto auto;

  p {
    text-align: center;
  }

  span {
    display: inline-block;
  }

  p,
  a,
  a:hover,
  a:visited {
    color: $primary;
    text-decoration: none;
  }
}

pre {
  color: white;
}
