// COLORS
$dark: #1b262c;
$light: #e9f3fe;
// $primary: #0f4c75;
$primary: #1c87ff;
$secondary: #577da3;

$red: #9e161b;
$yellow: #d6d311;
$white: #fff;

$lightgray: #eee;
$gray: #aaa;
$highlight: lighten($primary, 43%);

// Dark Mode
// $white: #171717;
// $light: #111;
// $lightgray: #333;
// $highlight: $light;
