@import "../../styles/common.scss";

#fileUpload {
  text-align: center;

  @media (max-width: 500px) {
    #drop_zone {
      padding: 0;
    }
  }

  #drop_zone {
    svg {
      fill: $primary;
      width: 100px;

      transition: transform 0.25s;
    }

    padding-left: 1em;
    padding-right: 1em;
    box-sizing: border-box;
  }

  &.dragging,
  &:hover {
    #drop_zone {
      outline: 5px dashed $secondary;
      background-color: var(--highlight);

      svg {
        transform: scale(1.2);
      }

      h2 {
        color: $primary;
      }
    }
  }

  &:hover:not(.dragging) {
    .browse {
      color: $primary;
    }
  }
  &.dragging {
    .drop {
      color: $primary;
    }
  }
}
