@import "../../styles/common.scss";

#qrScan {
  text-align: center;

  #qrScanContent {
    svg {
      fill: $primary;
      width: 100px;

      transition: transform 0.25s;
    }

    padding-left: 1em;
    padding-right: 1em;
  }

  &:hover {
    #qrScanContent {
      border: 5px dashed $secondary;
      background-color: lighten($primary, 40%);

      svg {
        transform: scale(1.2);
      }

      h2 {
        color: $primary;
      }
    }
  }
}
