@import "../../styles/common.scss";

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}

#fileSender {
  display: grid;
  gap: 1em;

  // @media (max-width: 500px) {
  //   padding: 0;
  // }

  #fsHeader {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    // border-bottom: 5px dashed var(--light)gray;
    padding: 0.5em;
    align-items: center;
    font-weight: bold;

    @media (max-width: 1000px) {
      grid-template-columns: 1fr;
    }
    .btn {
      padding: 1em;
      justify-self: left;
      border-radius: 0.5em;
      background-color: var(--white);
      cursor: pointer;
      color: $gray;
      transition: color 0.25s;

      svg {
        fill: $gray;
        transition: fill 0.25s;

        position: relative;
        top: 5px;
      }

      &:hover {
        color: $primary;
        svg {
          fill: $primary;
        }
      }
    }

    h2 {
      padding: none;
      margin: 0;
      text-align: center;
      font-size: 2em;
    }

    .statusText {
      justify-self: right;
    }
  }

  .senderBody {
    display: grid;
    justify-content: center;
    grid-template-columns: 75%;

    text-align: center;

    @media (max-width: 500px) {
      grid-template-columns: 100%;
      padding: 0 !important;
    }

    #imgWrapper {
      max-height: 75vh;
      width: 100%;
      height: 100%;

      padding-top: 10px;

      img {
        object-fit: contain;
        max-height: 60vh;
        width: 100%;
        height: 100%;
        display: block;
      }
    }

    p {
      font-size: 2em;
      margin: 0;
    }
  }

  .metaDataReturn {
    color: $secondary;
    margin: 1em;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .controls {
    max-width: min(90vw, 50vh);
    display: grid;
    grid-auto-flow: column;
    justify-self: center;

    @media (max-width: 900px) {
      grid-auto-flow: row;
    }

    padding: 1em;
    user-select: none;

    .curIndexInput {
      &.grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }

      input {
        font-size: 1em;

        font-weight: bold;
        color: $secondary;
        border: none;

        text-align: right;
        justify-self: right;
        position: relative;
        top: 3px;

        width: 100px;
      }

      .total {
        text-align: left;
        justify-self: left;
        padding-left: 12px;
      }
    }
  }

  .button,
  .curIndexInput {
    font-weight: bold;
    color: $secondary;
    padding: 20px;
    border-radius: 2em;
    font-size: 2em;
  }

  .button {
    &:hover:not(&.disiabled),
    &.active:not(&.disiabled) {
      cursor: pointer;

      color: $primary;
      text-decoration: underline;

      background-color: var(--highlight);
    }

    &.disabled {
      color: $gray;
      background-color: var(--white);
      text-decoration: none;
    }

    &.active {
      background-color: $secondary;
      color: var(--white);
    }
  }
}
