@import "../../styles/common.scss";

#fileList {
  display: grid;
  row-gap: 1em;

  #fileListItem {
    display: grid;
    grid-auto-flow: column;

    column-gap: 10px;

    &:hover {
      background-color: $highlight;
    }

    @media (max-width: 1000px) {
      .icon {
        display: none;
      }

      h3 {
        grid-area: N;
      }

      .fileSize {
        grid-area: S;
      }

      .timestamp {
        grid-area: D;
      }

      .type {
        grid-area: T;
      }

      .buttons {
        grid-area: B;
      }

      svg {
        height: 50px;
      }
    }

    @media (min-width: 1000px) {
      grid-template-columns: auto 3fr 1fr 1fr 2fr 1fr;
    }

    @media (max-width: 1000px) and (min-width: 650px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-areas:
        "N N N B"
        "S D T B";
    }

    @media (max-width: 650px) {
      text-align: center;
      grid-template-areas:
        "N N N"
        "S D T"
        "B B B";

      .icon {
        display: none;
      }

      h3 {
        grid-area: N;
        font-size: 1.5em !important;
        padding-bottom: 10px;
      }

      .fileSize {
        grid-area: S;
      }

      .timestamp {
        grid-area: D;
      }

      .type {
        grid-area: T;
      }

      .buttons {
        grid-area: B;
        padding-top: 2em;
      }

      svg {
        height: 45px;
      }

      .buttons {
        transform: scale(1.25) !important;
      }
    }

    h3 {
      padding: none;
      margin: 0;
      color: $primary;
      display: inline-block;
      font-size: 1em;
    }

    span {
      color: $gray;
    }

    svg {
      fill: $gray;
      display: inline-block;
    }

    .buttons {
      display: flex;
      flex-flow: row;

      transform: scale(1.5);

      span {
        flex-grow: 1;

        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          transition: transform 0.2s, fill 0.2s;
          border-bottom: 2px dashed $lightgray;
        }

        &:hover {
          svg {
            transform: scale(1.75);

            &.deleteIcon {
              fill: red;
              border-color: red;
            }

            &.downloadIcon {
              fill: $secondary;
              border-color: $secondary;
            }

            &.sendIcon {
              fill: $primary;
              border-color: $primary;
            }
          }
        }
      }
    }
  }
}
